<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>


<head>

<body>

<h1>weatherForecast.html</h1>
<h1>주소 /weather</h1>


<h1> 검색 결과 </h1>


<table border="1" bgcolor="aqua">
  <tr>
    <th>지역구1</th>
    <th>지역구2</th>
    <th>지역구3</th>
    <th>온도</th>
    <th>습도</th>
    <th>강수량</th>
    <th>마지막 업데이트 시간</th>
  </tr>
  <tr>
    <td th:name="region1" th:text="${region1}"></td>
    <td th:name="region2" th:text="${region2}"></td>
    <td th:name="region3" th:text="${region3}"></td>
    <td th:name="temp" th:text="${temp}"></td>
    <td th:name="humid" th:text="${humid}"></td>
    <td th:name="rainAmount" th:text="${rainAmount}"></td>
    <td th:name="lastUpdateTime" th:text="${lastUpdateTime}"></td>
  </tr>
</table>



<a href="/">처음으로</a>
<br>
<a href="/weather">일기예보 조회</a>
<a href="/weatherList">일기예보 저장 목록</a>
<br>

</body>
</head></html>