<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="board/layout/defaultLayout">

<th:block layout:fragment="title">
  <title>Weather</title>
</th:block>

<th:block layout:fragment="content">

  <h3>weatherList.html</h3>
  <br>
  <h3>현재 주소 /weatherList</h3>





  <table border="1" bgcolor="#fff8dc">
    <thead>
    <tr>
      <th>id</th>
      <th>지역구1</th>
      <th>지역구2</th>
      <th>지역구3</th>
      <th>온도</th>
      <th>습도</th>
      <th>강수량</th>
      <th>마지막 업데이트 시간</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="weather : ${weathers}">
      <td th:text="${weather.id}"></td>
      <td th:text="${weather.region1}"></td>
      <td th:text="${weather.region2}"></td>
      <td th:text="${weather.region3}"></td>
      <td th:text="${weather.temp}"></td>
      <td th:text="${weather.humid}"></td>
      <td th:text="${weather.rainAmount}"></td>
      <td th:text="${weather.lastUpdateTime}"></td>
    </tr>
    </tbody>

  </table>

  <form method="post" action="/weatherList" id="weatherForm">

    <input type="submit" value="삭제">
  </form>

  <select form="weatherForm" name="weatherId">
    <option th:each="weather : ${weathers}" th:value="${weather.getId()}" th:text="${weather.getId()}"></option>
  </select>


  <a href="/weather">일기예보 조회</a>
  </br>
  <a href="/"> 처음으로 / </a>
  </br>


</th:block>
</html>
