<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="board/layout/defaultLayout">

<th:block layout:fragment="title">
  <title>Weather</title>
</th:block>

<th:block layout:fragment="content">

  <label>날씨</label>
  <h3>weather.html</h3>
  <br>
  <h3>현재 주소 /weather</h3>



  <form action= "/getWeather"   method="get">
    <div class="form-group">

      <select class="emptyCheck" title="시/도">
        <option id="city" value="">시/도</option>
        <option  value="서울특별시">서울특별시</option>
      </select>

      <select name="location">
        <option value=1>종로구</option>
        <option value=2>중구</option>
        <option value=3>용산구</option>
        <option value=4>성동구</option>
        <option value=5>광진구</option>
        <option value=6>동대문구</option>
        <option value=7>중랑구</option>
        <option value=8>성북구</option>
        <option value=9>강북구</option>
        <option value=10>도봉구</option>
        <option value=11>노원구</option>
        <option value=12>은평구</option>
        <option value=13>서대문구</option>
        <option value=14>마포구</option>
        <option value=15>양천구</option>
        <option value=16>강서구</option>
        <option value=17>구로구</option>
        <option value=19>금천구</option>
        <option value=19>영등포구</option>
        <option value=20>동작구</option>
        <option value=21>관악구</option>
        <option value=22>서초구</option>
        <option value=23>강남구</option>
        <option value=24>송파구</option>
        <option value=25>강동구</option>

      </select>

<!--      <input type="text" name="location">-->


      <select id="time" class="emptyCheck" title="시간">
        <option value="" selected>시간</option>
        <option th:each="i : ${#numbers.sequence(0,23)}" th:value="${i}" th:text="${i} + 시"></option>
      </select>

      <button type="submit" class="btn btn-primary waves-effect waves-light">
        <span>실행</span>
      </button>


      <button type="reset" class="btn btn-primary waves-effect waves-light">
        <span>리셋</span>
      </button>

      <div>
        <table id="resultWeather" class="table"></table>
      </div>
    </div>

  </form>

  <a href="https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?serviceKey=kQkDPvw2TDmPAFD7HvgUb31WyyKpPrzI%2BH%2BXoELvejXjWxJb1H5gIaZAdwhv%2FjuqyJ9OSdPYQYSCKhKEp3E7TA%3D%3D&numOfRows=10&pageNo=1&base_date=20230830&base_time=1700&nx=71&ny=117">dasdsdsada</a>

</th:block>
</html>
